/* ==============================================================================
/* ====== From 320 to 479 px (poor mobile)
/* ============================================================================= */
@media (min-width: 300px) and (max-width: 479px){
	.post_navigation ul li{
		width: 100%;
	}
}

@media (min-width: 422px) and (max-width: 991px) {
	.h_portfolio_box.one,
	.h_portfolio_box.two,
	.h_portfolio_box.four,
	.h_portfolio_box.five {
		width: 49%;
		float: left;
		
	}
	.h_portfolio_box.one,
	.h_portfolio_box.four{
		margin-right: 1%;
	}
	.h_portfolio_box.two,
	.h_portfolio_box.five{
		margin-left: 1%;
	}
	.visible_only_422{
		display:block !important;
	}
	.h_portfolio_box.three img{
		width: 100%;
	}
}
/* ==============================================================================
/* =====SPECIAL BEAUTIFYING FOR MAX 600 PX
/* ============================================================================= */
@media (max-width: 600px){
	.h_navigation ul li{
		width: 50%;
		padding: 11px 0;
	}
	.h_navigation ul li a{
		margin:0 2px;
	}
	.h_navigation ul li:nth-of-type(2) a{
		border-radius: 0 5px 5px 0;
	}
	.h_navigation ul li:nth-of-type(3){
		width: 50%;
		margin:0 25%;
	}
	.h_navigation ul li:nth-of-type(3) a{
		border-radius: 5px;
	}
	.h_navigation ul li:nth-of-type(4){
		width: 50%;
		margin:0 25%;
	}
}

/* ==============================================================================
/* ====== PRIMARY MOBILE ELEMENTS & STYLES
/* ============================================================================= */
@media (max-width: 767px){
	.h_logo,
	.h_social{
		text-align: center;
	}
	.nh_nav ul li a{
		height:50px;
		line-height: 50px;
	}
	.nh_nav ul li a:hover,
	.nh_nav ul li.active a{
		background: #EF6921;
	}
	.contact_info_address {
		padding: 30px 0 30px 30px;
	}
	.portfolio_nav ul li{
		margin: 8px;
	}
}

/* ==============================================================================
/* ====== TABLET + SMALL DESKTOP
/* ============================================================================= */
@media (min-width: 768px) {
	.nh_nav ul{
		height:80px;
	}
	.nh_nav ul li{
		float: left;
	}
	.nh_nav ul li a:hover:before,
	.nh_nav ul li.active a:before{
		-webkit-transform: scaleY(1);
		-ms-transform: scaleY(1);
		-o-transform: scaleY(1);
		-moz-transform: scaleY(1);
		transform: scaleY(1);
	}
	.nh_nav ul li.active a:after{
		top:100%;
		opacity: 1;
	}
	.get_support h2,
	.get_support p{
		font-family: Raleway, Arial, sans-serif;
	}
	.testimonial_box h2{
		font-size: 39px;
	}
	.remote_support_installers ul li{
		width: 20%;
	}
	.post_navigation ul li{
		width: 25%;
	}
	.post_navigation ul li:nth-of-type(1) a{
		border-radius: 8px 0 0 8px;
	}
	.post_navigation ul li:nth-of-type(4) a{
		border-radius: 0 8px 8px 0;
	}
	.post_navigation ul li span{
		border-radius: 8px 8px 0 0;
	}
}


@media (min-width: 768px) and (max-width: 991px){
	.nh_nav{
		border-top: 2px solid #131011;
		border-right: 2px solid #131011;
	}
}

@media (max-width: 991px) {
	.portfolio_detail{
		margin-bottom: 20px;
	}
	.nh_nav{
		display: none;
	}
	.top_three_blog .blog_box{
		margin-bottom:40px;
	}
	
}
/* ==============================================================================
/* ====== SMALL DESKTOP + MEDIUM DESKTOP
/* ============================================================================= */
@media (min-width: 992px) {
	.col_padding_control1{
		padding: 0;
	}
	.h_portfolio_box.one img,
	.h_portfolio_box.two img,
	.h_portfolio_box.four img,
	.h_portfolio_box.five img{
		height:143px;
		max-width:none;
		width:auto;
		position:relative;
		/*left:-50%;
		-webkit-transform:translateX(25%);
		-ms-transform:translateX(25%);
		-o-transform:translateX(25%);
		-moz-transform:translateX(25%);
		transform:translateX(25%);*/
	}
	/*.h_portfolio_box.seven img,
	.h_portfolio_box.eight img{
		padding-left: 15px;
	}
	*/
	#ourAreaNav {
		height: 79px;
	}
	.nh_nav ul{
		float: right;
	}
	.nh_nav{
		/*padding-right: 100px;*/
	}
	a.mtb-toggle{
		display: none;
	}
	
	.contact_form_wrap{
		margin-top: -7px;
	}
	.you_may_like ul li{
		width: 33.33%;
		float: left;
	}
	
	/*styling portfolio page left and right aligned one after another*/
	.portfolio_box:nth-of-type(2n) .portfolio_detail_wrap{
		text-align: right;
	}
	.portfolio_box:nth-of-type(2n+1) .portfolio_carousel_wrap{
		position: relative;
		left: 41.66%;
	}
	.portfolio_box:nth-of-type(2n+1) .portfolio_detail_wrap{
		position: relative;
		right: 58.33%;
		text-align: left;
	}
	/*.dee_title .icon_integration{
		position: absolute;
		top: 15px;
		left: 50%;
		margin: 0;
		-webkit-transform: translateX(-285%);
		-ms-transform: translateX(-285%);
		-o-transform: translateX(-285%);
		-moz-transform: translateX(-285%);
		transform: translateX(-285%);
	}*/
}

/* ==============================================================================
/* ====== SMALL DESKTOP + MEDIUM DESKTOP + DESKTOP
/* ============================================================================= */
@media (min-width: 768px) and (max-width: 1199px) {
	.header .h_social{
		float: right;
	}
	
	/*nav_header nav */
	.nh_nav ul li{
		width: 20%;
	}
	.nh_nav ul li a{
		width: 100%;
		padding-top: 20px;
		line-height: normal;
		text-align:center;
	}
	.nh_nav ul li:nth-of-type(1) a br.visible_control{
		display:block;
	}
	
	.get_support h2{
		font-size:3em;
	}
	.get_support p{
		font-size:1.25em;
	}
	
	.contact_form .form-group textarea.form-control{
		height: 165px;
	}
	
}
/* ==============================================================================
/* ======  MEDIUM DESKTOP + DESKTOP
/* ============================================================================= */
@media (min-width: 992px) and (max-width: 1199px) {
	.h_portfolio_box.one img,
	.h_portfolio_box.two img,
	.h_portfolio_box.four img,
	.h_portfolio_box.five img{
		height:112px;
	}
	.h_portfolio_box.seven img,
	.h_portfolio_box.eight img,
	.h_portfolio_box.nine img,
	.h_portfolio_box.ten img{
		height:112px;
	}
	
	
}

@media (max-width: 1199px) {
	.h_navigation{
		/*border-top: 2px solid #131011;*/
		text-align: center;
	}
	.h_navigation ul{
		display:inline-block;
	}
}

/* ==============================================================================
/* ====== COMMON STANDARD DESKTOP
/* ============================================================================= */
@media (min-width: 1200px) {
	.h_navigation{
		float: right;
	}
	.header .h_social ul{
		border-left:2px solid #131011;
		border-right:2px solid #131011;
	}
	.h_portfolio_box.one img,
	.h_portfolio_box.two img,
	.h_portfolio_box.four img,
	.h_portfolio_box.five img{
		height:138px;
	}
	.h_portfolio_box.seven img,
	.h_portfolio_box.eight img,
	.h_portfolio_box.nine img,
	.h_portfolio_box.ten img{
		height:138px;
	}
	
	.nh_nav ul li a{
		padding:0 18px;
	}
	.get_support h2{
		font-size:3em;
	}
	.get_support p{
		font-size:1.7em;
	}
}

@media (min-width: 1400px) {
	.header .container,
	.footer_copyright .container,
	.nav_header .container,
	.h_portfolio .container{
			width: 1370px;
	}
	.h_portfolio_box.one img,
	.h_portfolio_box.two img,
	.h_portfolio_box.four img,
	.h_portfolio_box.five img{
		height:165px;
	}
	.header .h_social {
    	position: relative;
    	left: 15%;
	}
	.nh_nav ul li a{
		padding:0 25px;
	}
}


