/* Small Devices, Tablets */
/*
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
*/
@media only screen and (max-width : 640px) {

	.espacio-50 {
		max-height: 25px;
	}

	.espacio-100 {
		max-height: 10px;
	}

	h1.main-title {
		font-size: 20px;
	}

	#tope-xs {
	  background-color: #f2f0f0;
	  height: 50px;
	}

	.demoday {
	  background-color: transparent;
	  height: auto;
	  padding-left: 15px;
	  padding-right: 15px;
	}

	.texto-demo, .texto-demo2 {
		text-align: justify;
	}

	#contacto {
	  background-image: url('../images/fondo-contact.jpg');
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-position: center center;
	  height: auto;
	  background-color: transparent;
	  padding-bottom: 30px;
	}

	#tope1 {
	  background-image: url('../images/top-responsive.png');
	  height: 80px;
	  z-index: 22;
	  position: relative;
	}

	#tope2 {
	  background-image: none;
	  background-color: #276E8A;
	}

	#banner {
		margin-top: -25px;
		z-index: 10;
		position: absolute;
	}

	#header {
		margin-top: calc(100vw * 0.5);
	}

	.texto-noticias {
	  font-size: 14px;
	  text-align: justify;
	}
	
	.espacio-top {
	  height: 100px;
	}

	.btn-amarillo {
	  width: 160px;
	  margin-bottom: 15px;
	}

	.noticias {
		padding: 10px;
	}

	.navbar-default .navbar-nav > li > a {
		margin-left: 15px;
	  font-family: 'Roboto', sans-serif;
	  color: black;
	  font-weight: bold;
	  text-transform: uppercase;
	}

	.navbar-default .navbar-nav > li > a:hover {
	  color: black;
	  font-weight: bold;
	}

	.navbar-default .navbar-nav > li > a {
		background-color: #fff;
	}

	.navbar {
		min-height: 0px;
		margin-bottom: 0px;
	}


	#banner {
	  margin-top: -15px;
	  width: calc(100%);
	}
	.main-banner > span {
		position: absolute;
		display: inline-block;
		color: #fff;
		width: 100%;
		text-align: center;
		margin: auto auto;
		top: 0;
		top: 0;
		left: 0;
	}
	.main-banner h1 {
		font-size: 1.5em;
		font-family: Oswald;
		font-weight: bold;
		text-shadow: 4px 4px 8px #000;
	}
	.main-banner p {
		margin: 0.5em 0;
	}

	h1.custom_news_title_txt {
		font-size: 30px;
	}
}