/* CSS Document */
/* Fonts import */
/*
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
*/
/* Generales */

h1,h2,h3,h4,h5,h6,p {
  font-family: 'Roboto', sans-serif;
}

h4 {
  text-transform: uppercase;
}

.texto {
  color: #666;
  font-size: 16px;
  padding: 10px;
  font-family: Roboto;
}

.texto-noticias {
  color: #666;
  font-size: 15px;
  padding: 0px;
  font-family: Roboto;
}

.texto-demo ,
.texto-summary {
  color: #151617;
  font-size: 15px;
  padding: 0px;
  font-family: Roboto;
}

.texto-demo2 {
  color: #151617;
  font-size: 14px;
  padding: 0px;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Roboto;
}

.texto-footer {
  color: white; 
  font-size: 12px; 
  font-family: Roboto;
  padding: 15px;
}

.texto-foot {
  color: white; 
  font-size: 14px; 
  font-family: Roboto;
  text-align: justify;
}

.foot-first {
  padding-left: 20px;
}
.subtitle {
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: Roboto;
}

.subtitle-foot {
  color: white;
  text-align: left;
  font-size: 20px;
  font-family: Roboto;
}

.fotos-about {
  padding: 2px;
}

.espacio-top {
  height: 200px;
}
.espacio-bottom {
  height: 100px;
}

.espacio-20 {
  min-height: 20px;
  max-height: 20px;
}

.espacio-50 {
  min-height: 50px;
  max-height: 50px;
}

.espacio-100 {
  min-height: 100px;
  max-height: 100px;
}

#tope1 {
  background-image: url('../images/fondo-top01.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  height: 72px;
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: 100px;
  z-index: 10;
}

#tope2 {
  background-image: url('../images/fondo-top02.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  height: 58px;
  background-color: #276E8A;
}

.demoday {
  background-color: transparent;
  height: auto;
}

#contacto {
  background-image: url('../images/fondo-contact.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  height: auto;
  background-color: transparent;
  padding-bottom: 80px;
}

.noticia {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.noticias {
  background-image: url('../images/news-holder-4.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  height: auto;
  background-color: #377992;
}

.separador {
  background-image: url('../images/fondo-slanted.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  height: 107px;
}

.separador-xs {
  background-color: #fca413;
}

#banner {
  margin-top: -15px;
  width: calc(100% + 30px);
}
.main-banner {
	display: table;
	position: relative;
}
.main-banner > img {
    display: table-cell;
    width: 100%;
}
.main-banner > span {
    position: absolute;
    display: inline-block;
    color: #fff;
    width: 70%;
    text-align: center;
    margin: auto auto;
    top: 25%;
    left: 15%;
}
.main-banner .btn {
    font-size: 1em;
    font-weight: bolder;
    margin: 1em;
    padding: 0.75em 2em;
    text-transform: uppercase;
}
.main-banner  .btn-primary {
    background-color: #276e8a;
    color: #fff;
}
.main-banner  .btn-secondary {
    color: #fff;
    background-color: #fca413;
}
.main-banner  .btn-secondary:hover {
    border: 1px solid #f8cd5a;
}
.main-banner h1 {
    font-size: 5em;
    font-family: Oswald;
    font-weight: bold;
    text-shadow: 4px 4px 8px #000;
}
.main-banner h2 {
    margin: 0.5em 0;
    font-size: 1.5em;
}
.main-banner p {
    margin: 1em 0;
}

#banner.owl-theme .owl-nav .owl-prev {
    float: left;
}
#banner.owl-theme .owl-nav .owl-next {
    float: right;
}
#banner.owl-theme .owl-dots,
#banner.owl-theme .owl-nav {
    position: absolute;
}
#banner.owl-theme .owl-nav {
    top: 42%;
    width: 90%;
    margin-left: 5%;
}
#banner.owl-theme .owl-dots {
    width: 100%;
    top: 90%;
    text-align: center;
}
#banner.owl-theme .owl-nav [class*=owl-] {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    padding: 1em 0.5em;
}
#banner.owl-dot > span:before {
    border radius: 1;
}
#banner.owl-theme .owl-dots .owl-dot span {
    background: transparent;
    padding: 3px;
    display: table;
    width: 18px;
    border: 1px solid #fff;
}
#banner.owl-theme .owl-dots .owl-dot span:before {
    content: "";
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 6px;
    display: table-cell;
}
#banner.owl-theme .owl-dots .owl-dot.active span {
    border-color: #ffcc00;
    background: transparent;
}
#banner.owl-theme .owl-dots .owl-dot.active span:before {
    background: #ffcc00;
}

#header {
    width: calc(100% + 30px);
}
#header.owl-theme .owl-nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#header.owl-theme .owl-nav [class*=owl-] {
    position: absolute;
    border: none;
    font-size: 2em;
    padding: 0;
    bottom: 1em;
    background: none;
    pointer-events: all;
}
#header.owl-theme .owl-nav .owl-prev {
    left: 1em;
}
#header.owl-theme .owl-nav .owl-next {
    right: 1em;
}
#header .mini-slide {
    margin: 0px -15px;
    position: relative;
}
#header .mini-slide a {
    text-decoration: none;
}
#header .mini-slide h3 {
    position: absolute;
    top: 35%;
    width: 100%;
    font-family: Oswald;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000;
    color: #fff;
    text-align: center;
}
#header.owl-carousel .owl-item img {
    width: auto;
}

#foot {
    background-color: #0a3444;
    margin-top: 4em;
}

#socket {
background-color: #171717;
height: auto;
padding: 10px;
}


.btn-azul, .btn-amarillo {
  background-color: white;
  color: black;
  height: 55px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-radius: 0;
  padding: 15px;  
}

.form-control {
  border-radius: 8px;
  border-color: #c3c6c6;
}

.form-newsletter {
  background-color: #fca413;
  color: white;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  border-color: #fca413;
  border-radius: 8px;
  height: 40px;
}

.btn-newsletter {
  color: #ffffff;
  background-color: #f0b00f;
  width: 100%;  
  border-radius: 8px;
  height: 40px;
}

.btn-azul {
  width: 50%;
  color: #ffffff;
  background-color: #266e8a;
}

.btn-amarillo {
  width: 160px;
  color: #ffffff;
  background-color: #f0b00f;
  margin-bottom: 1em;
}

/* Bootstrap Navbar Classes */
.navbar-default {
  background-color: transparent;
  border-color:transparent;
  margin-top: 15px;
  margin-left: -30px;
}

.navbar-default .navbar-nav > li > a {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
  font-weight: bold;
}

.navbar-default .navbar-toggle {
  border: none;
  margin-top: -10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent !important;
}
/* Bootstrap Navbar Classes FIN */

/* Fix for the image margin */
#foot > .about_us > a > img {
    margin-bottom: 0.33em;
}

/* Fix for Posts/Pages headings and titles */
h1.entry-title, h2.entry-secondary_title {
    font-family: 'Oswald', sans-serif;
}

h2.entry-secondary_title {
    font-size: 28px;
}

.title_separator {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
}
.title_separator:before {
    content: "";
    border-bottom: 3px solid #333;
    width: 20%;
    min-width: 50px;
    max-width: 100px;
    display: block;
}


/* Footer sections */
#foot .left-container {
    position: relative;
    border-right: 2px solid #fff;
}
#foot .right-container {
    position: relative;
    border-left: 2px solid #fff;
}
#foot .left-container,
#foot .right-container {
    height: 210px;
}
.foot-first.left-side:before,
.foot-first.right-side:before {
    content: "";
    height: 4em;
    width: 100%;
    background-color: #fca413;
    display: block;
    margin-left: -20px;
    top: -4em;
    left: 5px;
    position: absolute;
    border-right: 40px solid #fff;
    border-bottom: 4em solid #fca413;
}
.foot-first h5.subtitle-foot {
    top: -2.5em;
    position: absolute;
}
.foot-first h5.subtitle-foot a {
	color: #fff;
}
.foot-first p {
    margin-top: 1em;
    color: #fff;
}
.foot-first p > a {
    font-weight: bolder;
    color: #fff;
}
.image-logo-footer > img {
    height: auto;
    width: auto;
    max-height: 8em;
    max-width: 100%;
}
.image-picture-footer > img {
    margin: 2em 1em;
}
.footer-separator.left-side{
    height: 5em;
}
.footer-separator.right-side {
    height: 2em;
}
.center-block .image-logo-footer,
.center-block .image-picture-footer {
    text-align: center;
}
.image-logo-footer.center-block {
    text-align: center;
}

.row.mid-slogan img,
.news-section-title img {
    max-width: 100%;
    height: auto;
}
.post-list-content {
    overflow: hidden;
}
.bottom-navigation {
    padding-right: 30px;
}


/* News pagination */
.navigation {
    line-height: 4em;
}

.navigation ul {
    margin-left: -15px;
    padding-left: 0;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	color: #fff;
	text-decoration:none;
}

.navigation li {
	display: inline;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	background-color: #fff;
	color: #0a3444;
	cursor: pointer;
	padding: 12px;
	padding: 0.75rem;
}

.navigation li a:hover,
.navigation li.active a {
	font-weight: bold;
	background-color: #f0b00f;
}

h1.custom_news_title_txt {
    margin: 1em 0 1em -0.5em;
    font-family: 'Krona One', sans-serif;
    text-transform: uppercase;
    color: #fff;
}


.btn.btn-amarillo.prev-button:before {
	right: 100%;
	top: -1px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #f0b00f;
	border-width: 28px;
}
.btn.btn-amarillo.next-button:after {
	left: 100%;
	top: -1px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #f0b00f;
	border-width: 28px;
}
.prev-button {
	margin-left: 2em;
}
.next-button, .prev-button {
	position: relative;
	width: 150px
}
.post-list-thumb img.wp-post-image {
	max-height: 196px;
}