/*
Theme Name: Monserrat 2017
Author URI: http://artifexweb.com/
Version: 1.0
*/

/*IE and windows phone fixing*/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
/*End IE and windows phone fixing*/


body{
   font-family: Helvetica, Arial, sans-serif;
}
html,
body,
#splash{
	height: 100%;
}
#splash{
	width: 100%;
	z-index:6;
	overflow:hidden;
}

#ourAreaNav {
    position: absolute;
    bottom: 0;
    width: 100%;
	z-index: 5;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	/*-webkit-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);*/
}
/*.animated {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}*/
.home.admin-bar #ourAreaNav{
	bottom: -32px;
}
#ourAreaNav.u-fixed{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height: 79px;
	/*-webkit-transition: all 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 700ms cubic-bezier(0.165, 0.84, 0.44, 1);*/
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

.h_portfolio {
    width: 100%;
    position: relative;
	margin: 0  !important;
	padding-bottom:100px;
	z-index:2;
}
.h_portfolio_box {
    float: left;
    background-color: #00ffff;
    position: relative;
}
.h_portfolio_box img{
	width: 100%;
	height: auto;
}
.h_portfolio_box {
    background-color: #f1f1f1;
    float: left;
    position: relative;
    overflow: hidden;
}
.h_portfolio_box a {
    display: block;
	height: 100%;
	position: relative;
}
.h_portfolio_box a:after{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background:transparent;
	z-index:5;
	border-top:10px solid #fff;
	border-left:10px solid #fff;
}
.h_portfolio_box img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
}
.h_portfolio_box span {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 12;
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0% 0%;
    color: #FFF;
    text-align: center;
    padding: 10px 0px;
	margin-left: 10px;
}

ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a:hover{
	text-decoration: none;
}
.padding0{
	padding: 0;
}
.paddingL0{
	padding-left: 0;
}
/*
h1, h2, h3{
}
*/

/*====================
*==========start header
====================*/
.header,
.nav_header{
	/*border-top:2px solid #131011;
	border-bottom:2px solid #131011;*/
	background:#252122;
}

/*==========
====h_logo
==========*/
.h_logo{
	display:block;
	padding: 13px 0 15px 0;	
}
.h_logo img,
.nh_logo img{
	max-width: 100%;
	height: auto;
}

/*==========
====h_social
==========*/
.header .h_social{
	height:78px;
	text-align: center;
}
.header .h_social ul{
	padding:0 20px;
	height:78px;
}
.h_social ul{
	display:inline-block;
}
.h_social ul li{
	float: left;
	margin-right: 7px;
	margin-top:25px
}
.h_social ul li:last-of-type{
	margin-right: 0;
}
.h_social ul li a{
	display: block;
	width: 30px;
	height: 30px;
	line-height: 32px;
	border-radius: 50%;
	background: #ddd;
	color: #fff;
	text-align: center;
	-webkit-transition:all 0.5s;
	transition:all 0.5s;
}

.h_social ul li a[class*="facebook"]{
	background:#8F9CB8;
}
.h_social ul li a[class*="facebook"]:hover{
	background:#3b5998;
}
.h_social ul li a[class*="dribbble"]{
	background:#A59B97;
}
.h_social ul li a[class*="dribbble"]:hover{
	background:#ea4c89;
}

.h_social ul li a[class*="twitter"]{
	background:#789FAC;
}
.h_social ul li a[class*="twitter"]:hover{
	background:#00aced;
}

.h_social ul li a[class*="google-plus"]{
	background:#B07A7D;
}
.h_social ul li a[class*="google-plus"]:hover{
	background:#dd4b39;
}

.h_social ul li a[class*="youtube"]{
	background:#A05F63;
}
.h_social ul li a[class*="youtube"]:hover{
	background:#bb0000;
}

.h_social ul li a[class*="pinterest"]{
	background:#7E5D5F;
}
.h_social ul li a[class*="pinterest"]:hover{
	background:#cb2027;
}

.h_social ul li a[class*="rss"]{
	background:#B27868;
}
.h_social ul li a[class*="rss"]:hover{
	background:#ff9900;
}

.h_social ul li a[class*="ad-"]{
	background:#89abb7;
}

/*==========
====h_navigation
==========*/
.h_navigation{
}
.h_navigation ul li{
	float:left;
}
.h_navigation ul li a{
	font-size: 1em;
	display:block;
	/*padding:10px 15px;*/
	padding:0 15px;
	margin-right: 2px;
	margin-top:20px;
	margin-bottom: 15px;
	color: #fff;
	text-transform: uppercase;
	height: 40px;
	line-height: 41px;
}
.h_navigation ul li:nth-of-type(1) a{
	background: #ef6921;
	border-radius: 5px 0 0 5px;
}
.h_navigation ul li:nth-of-type(2) a{
	background: #00bcd7;
	border-radius: 0;
}
.h_navigation ul li:nth-of-type(3) a{
	background: #8ac149;
	border-radius: 0 5px 5px 0;
}
.h_navigation ul li:nth-of-type(4) a{
	background: #353233;
	border-radius: 3px;
	border: 1px solid #ebebeb;
	/*padding:10px 15px 9px;*/
	margin-left:6px;
}

/*==========

==========*/



/*====================
*======start h_portfolio
====================*/
/*.h_portfolio{
	margin:20px 0 10px;
}*/
/*==========
===h_portfolio_box
==========*/
.h_portfolio_box{
	/*border: 2px solid #d7d7d7;*/
	cursor:pointer;
	position:relative;
	overflow: hidden;
	/*border-top: 10px solid #d7d7d7;
	border-bottom: 10px solid #d7d7d7;
	border-right: 10px solid #d7d7d7;*/
}
.h_portfolio_box:before{
	z-index: 5;
	position:absolute;
	content:'';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.5);
	border-radius: 50%;
	transform:scale(0);
	transition: border-radius 0.25s, transform 0.4s;
}
.h_portfolio_box:hover:before{
	border-radius: 150%;
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	-moz-transform: scale(1.5);
	transform: scale(1.5);
}
.h_portfolio_box:after{
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot?v=4.5.0');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-size:30px;
	background: #fff;
	color:#071114;
	content: "\f002";
	z-index:6;
	position:absolute;
	left: 50%;
	top: -250%;
	-webkit-transform:translate(-50%,-50%) rotate(90deg);
	-ms-transform:translate(-50%,-50%) rotate(90deg);
	-o-transform:translate(-50%,-50%) rotate(90deg);
	-moz-transform:translate(-50%,-50%) rotate(90deg);
	transform:translate(-50%,-50%) rotate(90deg);
	width:57px;
	height: 57px;
	border-radius: 50%;
	text-align:center;
	line-height:57px;
	
	-webkit-transition:all 0.4s;
	-o-transition:all 0.4s;
	-moz-transition:all 0.4s;
	-ms-transition:all 0.4s;
	transition:all 0.4s;
}
.h_portfolio_box:hover:after{
	top: 50%;
}
.h_portfolio_box_hover{
	position:absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.5);
}

/*========
stylish round hover
========*/
.round_hover{
	position:relative;
	overflow: hidden;
	-webkit-transform: translateZ(0px);
	-ms-transform: translateZ(0px);
	-o-transform: translateZ(0px);
	-moz-transform: translateZ(0px);
	transform: translateZ(0px);
}
.round_hover:before{
	z-index: -1;
	position:absolute;
	content:'';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.15);
	/*border-radius: 50%;*/
	-webkit-transform:scale(0,1);
	-ms-transform:scale(0,1);
	-o-transform:scale(0,1);
	-moz-transform:scale(0,1);
	transform:scale(0,1);
	
	-webkit-transform-origin:0 50% 0;
	-ms-transform-origin:0 50% 0;
	-o-transform-origin:0 50% 0;
	-moz-transform-origin:0 50% 0;
	transform-origin:0 50% 0;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.round_hover:hover:before{
	/*border-radius: 150%;*/
	-webkit-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-o-transform: scale(1,1);
	-moz-transform: scale(1,1);
	transform: scale(1,1);
}

.h_navigation ul li:nth-of-type(2) a.round_hover:before{
	-webkit-transform-origin:50% 100% 0;
	transform-origin:50% 100% 0;	
}
.h_navigation ul li:nth-of-type(4) a.round_hover{
	-webkit-transition: none;
	transition: none;
	line-height: 40px;
}
.h_navigation ul li:nth-of-type(4) a.round_hover:hover{
	color: #444;
}
.h_navigation ul li:nth-of-type(4) a.round_hover:before{
	background: rgba(255,255,255,1);
	/*transform:scale(1,0);*/
	transform-origin:0% 100% 0;
}

/*.h_navigation ul li:nth-of-type(4) a.round_hover:before{
	transform-origin:100% 100% 0;	
}
*/

/*====================
*======start nav_header
====================*/
/*.another_Test{
	position:relative;
}
.Our_Area_Navigation{
	position: absolute;
	width: 100%;
	top: 100%;
	margin-top: -78px;
	z-index:100;
}*/
.nav_header{}
.nav_header .container{
	position: relative;
}
/*==========
=====nh_logo
==========*/
.nh_logo{
	height:80px;
	line-height:78px;
	display: block;	
}
/*==========
=====nh_nav
==========*/


.nh_nav ul li a{
	display: block;
	height:80px;
	line-height:80px;
	padding: 0 18px;
	border-left:2px solid #131011;
	/*border-right:1px solid #131011;*/
	color: #c2c2c2;
	position: relative;
	background: none;
	-webkit-transform: translateZ(0px);
	-ms-transform: translateZ(0px);
	-moz-transform: translateZ(0px);
	-o-transform: translateZ(0px);
	transform: translateZ(0px);
	-webkit-transition:color 0.35s;
	-ms-transition:color 0.35s;
	-o-transition:color 0.35s;
	-moz-transition:color 0.35s;
	transition:color 0.35s;
}
.nh_nav ul li a:before{
	content: '';
	width:100%;
	height: 100%;
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
	background:#EF6921;
	
	-webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-moz-transform: scaleY(0);
	transform: scaleY(0);
	
	-webkit-transform-origin: 50% 0px 0px;
	-o-transform-origin: 50% 0px 0px;
	-ms-transform-origin: 50% 0px 0px;
	-moz-transform-origin: 50% 0px 0px;
	transform-origin: 50% 100% 0px;
	
	-webkit-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.nh_nav ul li a:hover,
.nh_nav ul li a.active,
.nh_nav ul li.active a{
	color: #fff;
}
.nh_nav ul li a:after{
	width: 0; height: 0; border-left: 18px solid transparent; border-right: 18px solid transparent;
	border-top: 16px solid #EF6921;
	position:absolute;
	content:'';
	top:0%;
	left:50%;
	opacity:0;
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	transform:translateX(-50%);
	-webkit-transition:all 0.4s;
	-ms-transition:all 0.4s;
	-o-transition:all 0.4s;
	-moz-transition:all 0.4s;
	transition:all 0.4s;
	-webkit-transition-delay:0.4s;
	-ms-transition-delay:0.4s;
	-o-transition-delay:0.4s;
	-moz-transition-delay:0.4s;
	transition-delay:0.1s;
}
/*.nh_nav ul li a.active:after,*/
.nh_nav ul li.out a:after{
	top:0%;
	opacity: 0;
}


.nh_nav ul li a:focus{
	outline: none;
	text-decoration: none;
}
.nh_nav ul li:nth-of-type(1) a{
	border-left-width: 2px;
}
.nh_nav ul li:nth-of-type(4) a{
	border-right-width: 2px;
}
.nh_nav ul li:nth-of-type(1) a br.visible_control{
	display:none;
}
/*follow user fixed navigation on scrolling*/
#fixed_ourArea_Nav{
	position:fixed;
	width: 100%;
	top:-350px;
	-webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#fixed_ourArea_Nav.fix{
	position:fixed;
	top: 80px;
}

/*editing bootstrap sliding tab*/
.tab-content > .tab-pane{
	visibility:visible;	
}
/*animation in slide-left-right tab*/
.tab-content {overflow:hidden; }
.slide-left {
  -webkit-transition: left 0.28s ease-in;
  -moz-transition: left 0.28s ease-in;
  -ms-transition: left 0.28s ease-in;
  -o-transition: left 0.28s ease-in;
  transition: left 0.28s ease-in;
  position: relative;
  overflow: hidden;
  left:100%;
}
.slide-left.in {
    left:0;
}
.slide-left.out{
    left:-100%;
}

/*========
==menu toggling button m-t-b
========*/
a.mtb-toggle{
	width: 100px !important;
	padding: 0;
	text-align: right;
	position:absolute;
	right: 15px;
	top: 0;
}
.m-t-b {
  display: block;
  position: relative;
  top: 0;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  width: 100px;
  height: 79px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  background: #252122; 
}
.m-t-b:hover,
.m-t-b.show:hover{
	background:#131011;
}
.m-t-b:focus {
  outline: none;
}
.m-t-b span {
  display: block;
  position: absolute;
  top: 38px;
  left: 30px;
  right: 30px;
  height: 3px;
  background: #ef6921;
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
}

.m-t-b span::before,
.m-t-b span::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background: #ef6921;
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
   transition-delay: 0.3s, 0s;
}

.m-t-b span::before {
	top:-6px;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}

.m-t-b span::after {
  bottom: -6px;
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
/* active state, i.e. when menu open */
.m-t-b.show {
  background: #27343E ;
}

.m-t-b.show span {
	transition-delay:0.3s;
  background: none;
}

.m-t-b.show span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg) scale(1,1.5);
}

.m-t-b.show span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg) scale(1,1.5);
}

.m-t-b.show span::before,
.m-t-b.show span::after {
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}


/*========
====our_area
========*/
.our_area{
	background:url(img/area_bg.jpg) no-repeat center bottom fixed;
	background-size:cover;
}

/*.who_we_are,
.tab_managed_solutions{
	padding:90px 0;
	text-align:center;
	color:#fff;
}*/
.our_area .tab-pane{
	padding:95px 0 90px;
	text-align:center;
	color:#fff;
}
/*.who_we_are{
	background:url(../img/area_bg.jpg) no-repeat center bottom fixed;
	background-size:cover;
}*/

.dee_title{
	margin-bottom:35px;
}
.dee_title h2{
	margin: 0;
	font-size:50px;
	text-transform: uppercase;
}
.dee_subtitle{
	margin-bottom:70px;
}
.dee_subtitle p{
	/*font-size:1.3em;*/
	font-size: 25px;
}
.dee_subtitle p img{
	vertical-align:middle;
	position:relative;
	top: -2px;
	max-width: 21px;
}
.dee_subtitle .dee_focus a{
	color: #ef6921;
	text-decoration: underline;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.dee_subtitle .dee_focus a:hover{
	color: #fff;
}
.about_detail .dee_subtitle .dee_focus a:hover{
	color: #74A739;
}

/*====
work_area
====*/
.work_area{
	margin-bottom:15px;
}
.work_area > a{
	display: block;
	color: #fff;
}
.work_area > a:hover{
	color: #ef6921
}
.work_area img{
	
}
.work_area h3{
	margin:25px 0;
}
.work_area h3.rhook1{
	margin: 25px -15px;
}
.work_area ul{
	display:inline-block;
	text-align: left;
	margin-bottom:20px;
}
.work_area ul li{
	position:relative;
}
.work_area ul li a{
	display: block;
	color: #fff;
	position: relative;
	padding-left:25px;
	font-size:1.18em;
	margin-bottom:7px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.work_area ul li a:before{
	position:absolute;
	font-family: 'FontAwesome';
/*	src: url('fonts/fontawesome-webfont.eot?v=4.5.0');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg'); */
	font-weight: normal;
	font-style: normal;
	content: "\f05d";	
	font-size:20px;
	top:-3.4px;
	left:0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.work_area ul li a:hover,
.work_area ul li a:hover:before{
	color: #ef6921
}
.extend_room{
	margin-right:-40px;
}

.dee_promo_title{
	font-size:1.3em;
	line-height:1.55;
	max-width: 800px;
	margin: 20px auto;
}

.read_more a{
	display:block;
	width: 170px;
	height:54px;
	text-align: center;
	line-height:54px;
	border-radius: 4px;
	background: #ef6921;
	color: #f1f1f1;
	font-size:1.5em;
	margin:30px auto 0;
}
.read_more a:before{
	background: rgba(204,81,14,1);
}

/*========
tab_managed_solutions
========*/
/*.tab_managed_solutions{
	background:url(../img/area_bg.jpg) no-repeat center fixed;
	background-size:cover;
}*/
.managed_solutions_box{
	display: block;
	padding: 15px 10px 15px 15px;
	text-align: left;
	margin-bottom:30px;
	-webkit-transition:all 0.35s;
	transition:all 0.35s;
}
.managed_solutions_box h3{
	font-size: 22.8px;	
}
.managed_solutions_box h3 img{
	height:24px;
	width: auto;
	padding-right:10px;
	position: relative;
	top: -3px;
}
.managed_solutions_box p{
	font-size: 16.5px;
	color: #fff;
}
.managed_solutions_box .read_more button{
	height: 28px;
	line-height: 24px;
	background: none;
	border: 2px solid #ef6921;
	font-size: 14px;
	background: none;
	margin: 10px 0;
	width: 96px;
	border-radius: 0;
}
.managed_solutions_box .read_more button:before{
	background: rgba(0,0,0,0.5);	
}
.managed_solutions_box:hover .read_more .round_hover:before{
	/*border-radius: 150%;*/
	-webkit-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-o-transform: scale(1,1);
	-moz-transform: scale(1,1);
	transform: scale(1,1);
}
.managed_solutions_box:hover .read_more button{
	color: #fff !important;
}
.managed_solutions_box.one{
	background: rgba(41,32,29,0.5);	
}
.managed_solutions_box.one:hover{
	background: rgba(41,32,29,0.9);	
}
.managed_solutions_box.two{
	background: rgba(35,37,28,0.5);	
}
.managed_solutions_box.two:hover{
	background: rgba(35,37,28,0.9);	
}
.managed_solutions_box.three{
	background: rgba(6,22,28,0.5);	
}
.managed_solutions_box.three:hover{
	background: rgba(6,22,28,0.9);	
}
.managed_solutions_box.one h3,
.managed_solutions_box.one .read_more button{
	color:#ef6921;
	border-color:#ef6921;
}
.managed_solutions_box.one .read_more button:before{
	background: #ef6921;
}
.managed_solutions_box.two h3,
.managed_solutions_box.two .read_more button{
	color:#8ac149;
	border-color:#8ac149;
}
.managed_solutions_box.two .read_more button:before{
	background: #8ac149;
}
.managed_solutions_box.three h3,
.managed_solutions_box.three .read_more button{
	color:#00bcd7;
	border-color:#00bcd7;
}
.managed_solutions_box.three .read_more button:before{
	background: #00bcd7;
}
/*============
====from_blog
============*/
.from_blog{
	padding:70px 0;
}
.from_blog_title{
	font-size: 50px;
	color: #353233;
	margin-bottom:30px;
	text-align: center;
}


.blog_box{
	text-align: center;
	margin:0 15px;
}
.blog_box > a{
	display: block;
}
.blog_box img{
	margin-bottom:15px;
	max-width: 100%;
	height: auto;
}
.blog_box p.cat_name{
	margin:10px 0;	
	font-size:1.15em;
	text-transform: uppercase;
}
.blog_box h3{
	color:#131011;
	text-transform: uppercase;
	font-size: 1.55em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.blog_box > a:hover h3{
	color:#ef6921;
}
.blog_box .read_more a{
	width: 120px;
	height:44px;
	line-height:44px;
	font-size:1.2em
}

/*============
====our_map
============*/
.our_map{
	height:380px;
	width:100%;
}
#googleMap{height:380px;}
#googleMap .col-xs-12{padding:0;}


/*============
====get_support
============*/
.get_support{
	text-align: center;
	background: #00aee5;
	color: #fff;
	padding: 35px 0;
}
.get_support h2{
	font-size:1.8em;
}
.get_support p{
	font-size:1.1em;
}
.get_support a{
	display: block;
	width: 270px;
	height: 60px;
	text-align: center;
	line-height:56px;
	border: 2px solid #fff;
	margin:20px auto 0;
	color:#fff;
	font-size: 2em;
	-webkit-transition:all 0.35s;
	transition:all 0.35s;
}
/*.get_support a:hover{
	background: #006484;
}*/


/*============
====footer
============*/
.footer{
	
}
/*============
====footer_detail
============*/
.footer_detail{
	padding:45px 0 60px;
	color: #000000;
}
.footer_detail h3{
	font-size: 2.2em;
	margin-bottom:20px;
}
.footer_detail ul{
	margin-bottom:25px;
}
.footer_detail ul li{
	font-size:1.144em;
	margin:6px 0;
}
.footer_detail ul li a{
	display:block;
	color: #000000;
	-webkit-transition:all 0.35s;
	transition:all 0.35s;
}
.footer_detail ul li a:hover{
	color: #EF6921;
}

/*========
footer_blog_wrapper
========*/
.footer_blog_wrapper{
	margin-bottom: 15px;
}
.footer_blog{
	margin-bottom: 20px;
	font-size:1.143em;
	display: block;
	color: #000;
}
a.footer_blog > p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.footer_blog_date{
	color: #00aee5;
	text-decoration:underline;
}
/*.footer_blog p{
	color:#000;
}*/
.footer_blog:hover,
.footer_blog:hover .footer_blog_date{
	color: #EF6921;
}
/*========
footer_blog_wrapper
========*/
.footer_portfolio{
	margin-bottom:20px;
}
.footer_portfolio ul li{
	line-height:1.3;
	margin-top: 0;
	margin-bottom:15px;
}

/*=====
footer_contact
====*/
.footer_contact{
	
}
.footer_contact ul{
	padding-left:15px;
}
.help_icon_links a{
	display:inline-block;
	font-size:2em;
	padding: 5px 10px 5px 0;
	position:relative;
	color: #000;
}
.help_icon_links a:first-of-type{
	font-size:2.4em;
	top:2px;
}
.help_icon_links a:hover{
	color:#EF6921;
}

/*========
footer_copyright
========*/
.footer_copyright{
	background: #252122;
	text-align: center;
}
.f_logo{
	display:block;
	height:74px;
	line-height:70px;
}
.f_logo img{
	max-width: 100%;
	height: auto;
}

.footer_copyright p{
	color: #fff;
	text-align:center;
	padding:26px 0 0;
	font-size: 1.1em;
}

/*========
scroll to top
========*/
.scrollUp{
	 width:46px;
	 height:46px;
	 position:fixed;
	 bottom:0px;
	 right:-100px;
	 text-align:center;
	 font-size:20px;
	 opacity:0.7;
	 -o-transition:all 0.4s;
	  -moz-transition:all 0.4s;
	  -webkit-transition:all 0.4s;
	 transition:background 0.4s;
	 background:#4B4F53;
	 color:#fff;
	  z-index:1000;
	  border-radius:10% 10% 0 0;
	  -o-transition:all 0.8s;
	  -moz-transition:all 0.8s;
	  -webkit-transition:all 0.8s;
	  transition:all 0.8s;
  }
 .scrollUp i{
	 position:relative;
	 top:5px;
	 left:0px;
	 -o-transition:all 0.8s;
	 -ms-transition:all 0.8s;
	 -webkit-transition:all 0.8s;
	 transition:all 0.8s;
 }
 .scrollUp.active{
	 right:0;
 }
 .scrollUp.active i{
	 top:12px;
 }
 .scrollUp:hover,
  .scrollUp:focus,
   .scrollUp:active{
   opacity:1;
   color:#fff;  
  }
.scrollUp:hover i{
	top:7px;
}

@media (min-width: 992px) {
.h_portfolio [class*="col-"]{
	padding: 0;
}
.h_portfolio img{
	width: 100%;
}
.h_portfolio_box{
	margin-top:0;
	margin-bottom:10px;
}
/*.h_portfolio_box.three{
	margin:10px 10px;
}*/
.h_portfolio_box.three{
	margin:0 10px 10px 10px;
}
/*.h_portfolio_box.six{
	margin:10px 20px 10px 0;	
}*/
.h_portfolio_box.six{
	margin:0 20px 10px 0;	
}
.h_portfolio_box.seven,
.h_portfolio_box.eight{
	margin-left:-10px;
	margin-right:10px;
}
.h_portfolio_box.one img,
	.h_portfolio_box.two img,
	.h_portfolio_box.four img,
	.h_portfolio_box.five img{
		
	}
}


/*==========
Other Pages
==========*/

/*==========
about_us
==========*/
.page_title{
	background:#f5f5f5;
}
.page_title h2{
	text-transform: uppercase;
	/*height:80px;
	line-height:80px;*/
	padding: 25px 0 23px;
	margin:0;
}



/*==========
page_breadcumb_wrap
==========*/
.page_breadcumb_wrap{
	background: #ef6921;
	color:#fff;
}
.page_name{
	height:40px;
	line-height: 40px;
	font-size:1.2em;
}

.page_breadcumb ul{
	float:right;
}
.page_breadcumb ul li{
	float:left;
	padding:0 5px;
	color: #353233;
	font-size:1.15em;
	 height:40px;
	line-height: 40px;
}
.page_breadcumb ul li.bar{
	padding:0 2px;
	color: #C6C3C4;
}
.page_breadcumb ul li a{
	color: #fff;
}
.page_breadcumb ul li a:hover{
	color: #F6EFA5;
}

/*page breadcumb plugin  Breadcrumb NavXT*/
.breadcrumbs{
	float: right;
	font-size:15px;
}
.breadcrumbs > span{
	padding:0 5px;
	color: #F6EFA5;
	font-size:16px;
	 height:40px;
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.breadcrumbs span a span{
	color: #fff;
}
.breadcrumbs span a:hover span{
	color: #F6EFA5;
}

/*==========
about_detail
==========*/
body.page-id-23 .page_title{
	text-align: center;
}
.about_detail{
	text-align: center;
	padding: 50px 0;
}

.about_detail .dee_title{
	margin-bottom: 20px;
	color: #00bcd7;
}
.about_detail .dee_subtitle{
	margin-bottom: 30px;
}
.about_detail .who_we_are{
	font-size: 1.1em;
}

/*==========
Other Pages
==========*/

.heard_dee{
	padding:45px 0 25px;
	background: url(img/heard_dee_bg.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
	text-align: center;
}
h2.section_title{
	font-size:50px;
	text-transform: uppercase;
}

.heard_dee_box h2,
.heard_dee_box h3{
	font-weight: 700;
	font-size:2.6em;	
}

/*==========
testimonial
==========*/
.testimonial{
	text-align: center;
	padding:45px 0 25px;
	background:#fff;
	color: #333;
}
.testimonial h2.section_title{
	color: #00bcd7;	
}
.testimonial_box h2{
}
.testimonial_box h3{
	font-size:34px;
	color: #ef6921;	
}



/*==========
top_three_blog
==========*/
.top_three_blog{
	padding:45px 0 45px;
	text-align: center;
	background: #f5f5f5;
}
.top_three_blog .section_title{
	margin-bottom:40px;
}
.top_three_blog .blog_box{
	margin:0 0 25px 0;
}

/*==========
work_with_us
==========*/
.work_with_us{
	padding:45px 0 70px;
	text-align: center;
}
.work_with_us .section_title{
	color: #00bcd7;
	margin-bottom:25px;
}
.work_with_us p{
	font-size: 28px;
	margin-top:25px;
}

/*==========
contact_us page
==========*/
.contact_us_wrap{
	padding: 60px 0 40px;
}
.contact_page_title,
body.page-id-75 .page_title{
	background: #3ad7ee;
	color: #fff;
	text-align: left;	
}


/*==========
contact_info
==========*/

.our_moto img{
	width: 100%;
	height: auto;
}
.contact_info{
	border: 1px solid #c2c2c2;
	margin-top: 30px;
	/*padding:0 30px 15px;*/
}
.contact_info h3{
	color: #00a8e3;
	text-transform: uppercase;
	margin:0 0 10px 0;
}
.contact_info ul li{
	display: block;
}
.contact_info_detail ul li a{
	color: #8ac149;
}
.contact_info_detail ul li a:hover{
	color: #EF6921;
}

.contact_info_detail{
	border-right: 1px solid #c2c2c2;
	padding: 30px 0 30px 30px;
}
.contact_info_detail ul li{
	margin-bottom:8px;
	font-size: 18px;
}
.contact_info_address{
	padding: 30px 30px 0 0px;
}
.contact_info_address ul li{
	margin-bottom:3px;
	font-size: 16px;
}

.get_social_with_us{
	border-top: 1px solid #c2c2c2;
	padding: 25px 10px 20px;
	text-align: center;
}
.get_social_with_us h3{
	color: #EF6921;
}

.get_social_with_us .h_social ul li{
	margin-top:3px;
}

/*==========
contact_form
==========*/
.contact_form_wrap{
	margin-top: 40px;
}
.contact_form{
	
}
.dee_form .form-group{
	margin-bottom:32px;
}
.dee_form .form-group label,
.wpcf7-form p{
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	color: #555;
}
.wpcf7-form p:hover{
	color: #333;
}
.wpcf7-form-control-wrap{
	display: block;
	margin:8px 0 30px;
}
/*bootstrap form-control css with contact form 7 plugin*/
.wpcf7-form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #00A8E3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.wpcf7-form-control:focus {
  border-color: #A3C662;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,188,215,0.2);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,188,215,0.2);
}
.wpcf7-form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.wpcf7-form-control:-ms-input-placeholder {
  color: #999;
}
.wpcf7-form-controll::-webkit-input-placeholder {
  color: #999;
}
.dee_form .form-group .form-control,
.wpcf7-form-control{
	font-weight: normal;
	height: 60px;
	border-radius: 0;
	border: 1px solid rgba(0,168,227,1);
	font-size:20px;
}
.dee_form .form-group .form-control:focus{
	border-color:#A3C662;
}
.dee_form .form-group textarea.form-control,
textarea.wpcf7-form-control{
	height:231px;
}
.dee_form .dee_form_submit,
.wpcf7-form-control.wpcf7-submit{
	background:#ef6921;
	color: #fff;
	text-transform:uppercase;
	border:none;
	width:300px;
	height:60px;
	line-height: 52px;
	position:relative;
	display:block;
	margin:10px 0 0 0;
	font-size: 28px;
	-o-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	transition:all 0.3s;
	/*margin-bottom:20px;*/
}
.wpcf7-form-control.wpcf7-submit:hover{
	background:#DC560E;
}
span.wpcf7-not-valid-tip{
	font-size:16px;
}
div.wpcf7-response-output{
	font-size: 17px;
	padding: 20px 1em;
}
#contact_form_preloading{
	display:none;
	position:absolute;
	left:50%;
	top:42%;
	-ms-transform:translate(-50%, -50%);
	-moz-transform:translate(-50%, -50%);
	-o-transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
}
.contact_form .form-group label{
	
}


/*==========
startAProject Page
==========*/
.startAProject_title,
body.page-id-73 .page_title{
	background: #a3c662;
	color: #fff;
	text-align: left;	
}

.stap_form_wrap{
	padding: 60px 0 80px;
}

/*==========
Manage Solution Services
==========*/
.page_first_detail,
.page_division_detail{
	padding:40px 0;	
}
.page_first_detail p,
.page_division_detail p{
	margin: 0;
	font-size:25px;
}

.page_division_heading{
	padding: 35px 0;
	background: #f5f5f5;	
}
.page_division_heading h3{
	font-size: 42px;
	margin: 0;
	text-transform: uppercase;
	position:relative;
	padding-left: 65px;
}
.page_division_heading h3 img{
	position: absolute;
	left:0;
	top:0;
}
.page_division_heading h3 img.topF1{
	position: absolute;
	left:0;
	top:-5px;
}
.page_division_heading h3 img.topF2{
	top: 3px;
}

.page_division_detail img{
	float: right;
	max-width: 100%;
	height: auto;
	padding:0 0 0 10px;
}
.page_division_detail p:first-of-type{
	padding-bottom: 30px;
	line-height: 1.7;
}
.page_division_detail p{
	line-height: 1.7;
}


/*==========
portfolio page
==========*/
.portfolio_wrap{
	padding:0 0 10px;	
}

.portfolio_nav{
	padding-top: 34px;
	text-align: center;
}
.portfolio_nav ul{
	display: inline-block;
}
.portfolio_nav ul li{
	float: left;
	margin-right: 8px;
	cursor: pointer;
}
.portfolio_nav ul li button{
	display:block;
	padding: 10px 22px;
	font-size: 1.3em;
	background: #fff;
	color: #252122;
	border: 2px solid #e1e1e1;
	border-radius: 5px;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.portfolio_nav ul li:last-of-type{
	margin-right: 0;
}
.portfolio_nav ul li:hover button,
.portfolio_nav ul li.active button{
	color: #E25910;
	border-color: #ef6921;
}

/*==========
portfolio_box
==========*/
.portfolio_box{
	padding: 10px 0 50px;
	position: relative;
}
.portfolio_box:after{
	position: absolute;
	top: 100%;
	left: 0;
	margin-top:-20px;
	content:'';
	width: 100%;
	height:2px;
	border-radius:4px;
	background: #cccccc;
	border-bottom: 1px solid #ddd;
}
.portfolio_box:last-of-type:after{
	display: none;
}
.owl-portfolio-box .item img{
	max-width: 100%;
	height: auto;
}

/*==========
portfolio_detail
==========*/
.portfolio_detail{
	
}
.portfolio_detail h2,
.portfolio_detail h3{
	text-transform: uppercase;
	color: #00a8e3;
}
.portfolio_detail h2{
	font-size: 25px;
	margin-top: 20px;
}
.portfolio_links p,
p.portfolio_detail_describe{
	font-size: 18px;
}
.portfolio_links p a,
.portfolio_links p span{
	color: #8ac149;
}
.portfolio_links p a:hover{
	color: #EF6921;
}
.portfolio_detail h3{
	font-size: 20px;
	margin-top:15px;
}
p.portfolio_detail_describe{
	
}
.portfolio_button a{
	display: inline-block;
	padding: 12px 0;
	width:130px;
	text-align: center;
	color: #fff;
	font-size:18.7px;
	border-radius: 5px;
}
.portfolio_button a:first-of-type{
	background: #8ac149;
	margin-right:15px;
}
.portfolio_button a:nth-of-type(2){
	background: #ef6921;
}
.owl-portfolio-box{
	margin-top: 20px;
}


/*==========
Blog Page
==========*/
.subscribe_box,
.blog_category_filter_box{
	padding: 40px 0;
}
.subscribe_box h3,
.blog_category_filter_box h3{
	font-size:20.8px;
	margin: 0 0 15px 0;
}
.subscribe_form,
.blog_category_filter,
.mc4wp-form-fields,
.subscribe-box{
	position: relative;
}
.subscribe_form .form-group,
.mc4wp-form-fields .subscribe-box{
	padding-right: 180px;
}
.subscribe_form .form-control,
.subscribe-box .form-control{
	height: 45px;
	border-radius: 0;
	font-size: 20px;
}
.subscribe_form_submit,
.blog_category_filter_submit{
	border: 0;
	width: 170px;
	text-align: center;
	height:45px;
	line-height: 45px;
	font-size: 20.9px;
	background: #ef6921;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	overflow: visible;
}
.subscribe_form_submit:after{
	position: absolute;
	font-size:11.4px;
	font-style: italic;
	content:"100% Guaranteed not to spam";
	color: #353233;
	left:5px;
	top:-34px;
}
	
/*==========
blog_category_filter
==========*/

.blog_category_filter .form-group{
	padding-right: 180px;
}
.blog_category_filter .form-group select{
	font-size: 20px;
	height:45px;
	padding:0 25px;
	width: 100%;
	cursor: pointer;
}


.blog_post{
	padding: 25px 0;
	position: relative;
}
.blog_post:first-of-type{
	padding-top: 0;
}
.blog_post:after{
	position: absolute;
	top: 100%;
	left: 0;
	margin-top:-7px;
	content:'';
	width: 100%;
	height:2px;
	border-radius:4px;
	background: #cccccc;
	border-bottom: 1px solid #ddd;
}
.blog_post:last-of-type:after{
	display: none;
}
.blog_post_detail{
	
}
.blog_post_detail h2{
	font-size: 40px;
	color: #00a8e3;
	margin-bottom:12px;
}
.blog_post_detail h2 a{
	color: #00a8e3;
	-webkit-transition: color 0.35s;
	transition: color 0.35s;
}
.blog_post_detail h2 a:hover{
	color: #FF7931;
}
.blog_post_detail ul{
	margin-bottom:12px;
}
.blog_post_detail ul li{
	float: left;
	font-style:italic;
	font-size: 20px;
	color: #7fb026;
	margin-right: 15px;
}
.blog_post_detail ul li a{
	color: #7fb026;
}
.blog_post_detail ul li a:hover{
	color: #ff7931;
}
.blog_post_detail ul li:last-of-type{
	margin-right: 0;
}
.blog_post_detail ul li i{
	color: #ff7931;
	vertical-align: top;
	font-size:22px;
	padding-right:6px;
}

.blog_post_detail p{
	font-size:24px;
}
.blog_post_detail .read_more a{
	margin: 12px 0;
	height: 42px;
	line-height: 42px;
	width: 150px;
	font-size: 1.33em;
}

/*========
blog_side_category
=========*/
.blog_side_category{
	border:1px solid #7fb026;
	/*margin-bottom:20px;*/
}
.blog_side_category_nav ul li{
	float: left;
	width: 50%;
	border-right: 1px solid #7fb026;
}
.blog_side_category_nav ul li:last-of-type{
	border-right: none;
}
.blog_side_category_nav ul li a,
.side_category_title h2,
.author-page h2{
	border-bottom:1px solid #7fb026;
	display: block;
	color: #7fb026;
	height:54px;
	line-height: 54px;
	font-size: 20px;
	text-transform: uppercase;
	text-align:center;
}
.blog_side_category_nav ul li a:hover,
.blog_side_category_nav ul li.active a{
	background:#a3c662;
	color: #fff;
}
/*====
blog_side_category_list
====*/
.blog_side_category_list ul li{
	border-bottom: 1px solid #7fb026;
}
/*.blog_side_category_list ul li:last-of-type,
.latest_news_detail ul li:last-of-type{
	border-bottom: none;
}*/
.blog_side_category_list ul li a,
.you_may_like ul li a{
	display: block;
	padding:20px;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.blog_side_category_list ul li a img,
.you_may_like ul li a img{
	float: left;
	max-width: 100%;
	height: auto;
	padding-right:8px;
	max-width: 96px;
	margin-top: 4px;
}
.you_may_like ul li a img{
	max-width: 96px;
	margin-top: 5px;
}
.blog_side_category_list ul li a h3,
.you_may_like ul li a h3{
	text-transform: uppercase;
	font-size:15px;
	margin: 5px 0 0 0;
	color: #252122;
	height: 33px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.blog_side_category_list ul li a p,
.you_may_like ul li a p{
	margin-bottom: 0;
	font-style:italic;
	font-size:13px;
	color: #7FB026;
}
.blog_side_category_list ul li a p i,
.you_may_like ul li a p i{
	color: #ff7931;	
}
.blog_side_category_list ul li a:hover,
.you_may_like ul li a:hover{
	background: #f0fafe;
}
.blog_side_category_list ul li.load_more,
.latest_news_detail ul li.load_more{
	padding:10px 30px;
}
.blog_side_category_list ul li.load_more a,
.latest_news_detail ul li.load_more a{
	padding:7px 20px;
	font-size:17px;
	color: #fff;
	border-radius: 5px;
	text-align: center;
}
.blog_side_category_list ul li.load_more a{
	background: #a3c662;
}
.blog_side_category_list ul li.load_more a i,
.latest_news_detail ul li.load_more a i{
	vertical-align: middle;
	padding-left:4px;
	font-size: 16px;
	position: relative;
	top: -1px;
}

/*========
latest_news_wrap
=========*/
.latest_news_wrap{
	border:1px solid #00a8e3;
	margin:30px 0 20px;
}
h3.latest_heading{
	height:58px;
	line-height: 58px;
	background: #43caf9;
	color: #fff;
	border-bottom: 1px solid #00a8e3;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
}
.latest_news_detail{
	
}
.latest_news_detail ul{
	
}
.latest_news_detail ul li{
	border-bottom: 1px solid #00a8e3;
}
.latest_news_detail ul li a{
	padding: 20px;
	display: block;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.latest_news_detail ul li a:hover{
	background:#E1F7FF;
}
.latest_news_detail ul li a h3,
.latest_news_detail ul li a h4{
	margin: 0;
}
.latest_news_detail ul li a h3{
	color: #252122;
	font-size: 18px;
	text-transform: uppercase;
}
.latest_news_detail ul li a p{
	font-style: italic;
	font-size: 13px;
	margin:5px 0;
	color: #7fb026;
}
.latest_news_detail ul li a h4{
	font-size: 13px;
	color: #363636;
}
.latest_news_detail ul li a h4 i{
	padding-right:5px;
	color: #ff7931;
	font-size:18px;
}

.latest_news_detail ul li.load_more a{
	background: #43caf9;
}

/*========
single_blog
========*/
.single_blog{
	padding:40px 0;
}
.blog_post_img img{
	max-width: 100%;
	height: auto;
}
.post_author_box{
	background: #f5f5f5;
	border: 1px solid #d7d7d7;
	padding:24px 30px;
	margin: 20px 0;
	max-width: 640px;
}
.post_author_box > h3{
	text-transform: uppercase;
	color: #ff7931;
}

.single_blog .blog_post_detail h2{
	margin: 40px 0 22px;
}
.blog_post_detail blockquote{
	border-left: 15px solid #ff7931;
	margin:20px 0 35px;
	font-size: 25px;
	color: #7fb026;
	font-style: italic;
	padding: 10px 30px 10px 25px;
	line-height: 1.8;
}
.post_author_box .post_author_detail > img{
	float: left;
	padding-right: 16px;
}
.post_author_detail p{
	padding: 13px 0;
	margin: 0;
	font-size: 15px;
	color: #555555;
}
.blog_post_carousel{
	margin-top:30px;
}
.blog_post_carousel ul{
}
.blog_post_carousel ul li{
	
}
.blog_post_carousel ul li:first-of-type{
	float: left;
}
.blog_post_carousel ul li:last-of-type{
	float: right;
}
.blog_post_carousel ul li a{
	display: block;
	background:#ff7931;
	color: #fff;
	border-radius: 5px;
	width: 130px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	padding: 0;
	font-size: 18px;
}
.blog_post_carousel ul li:first-of-type a:before{
	transform-origin:100% 50% 0px;	
}

/*========
you_may_like
========*/
.you_may_like_wrap{
}
h3.you_may_like_title{
	text-transform: uppercase;
	color: #FF7931;
	text-align: center;
	margin:0 0 20px;
}
.you_may_like{	
	padding: 25px 50px;
	background: #f5f5f5;
	border: 1px solid #d7d7d7;
	margin-bottom:80px;
}
.you_may_like ul li{
	width: 100%;
}
.you_may_like ul li a h3{
	margin-top: 6px;
}
.you_may_like ul li a{
	background: #fff;
	margin:0 8px;
	border: 1px solid #7fb026;	
}

/*========
remote_support
========*/
.remote_support{
	text-align: center;
	background:url(img/dee_logo_bg.png) no-repeat center;
}
.remote_support_page_title,
body.page-id-85 .page_title{
	text-align: center;
	background: #131011;
	color: #fff;
}
.remote_support_logo{
	padding: 50px 0;
	text-align:center;
}
.remote_support_logo img{
	display: inline-block;
	max-width: 100%;
	height: auto;
}
.remote_support h2{
	font-size:37px;
	color: #ef6921;
	text-align: center;
	margin:0 0 15px 0;
}
.remote_support p{
	font-size: 25px;
	color: #252122;
	margin-bottom: 40px;
}
.remote_support_box{
	max-width: 670px;
	margin:0 auto 30px;
	background: rgba(140,140,140,0.2);
	border: 1px solid rgba(215,215,215,0.2);
	text-align: center;
	padding: 30px;
}
.remote_support_box label,
.remote_support_installers h3{
	font-size: 30px;
	text-transform: uppercase;
	color: #000;	
}
.remote_support_box .form-control{
	height: 60px;
	border-radius: 0px;
	border: 1px solid #d7d7d7;
	font-size: 20px;
	max-width: 400px;
	margin: 20px auto 25px;
	text-align: center;
}
.remote_support_box select option{
	text-align: left;
	padding:15px 15px;
}
.remote_support_connect{
	font-size:22.6px;
	background: #ef6921;
	color: #fff;
	border: none;
	padding:12px 34px;
	border-radius: 5px;
}

.remote_support_installers ul li{
	float: left;
	display:block;
	width: 100%;
}
.remote_support_installers ul li img{
	max-width: 100%;
	height: auto;
}
.remote_support_installers ul li p{
	font-size: 12.5px;
	color: #000;
	margin-top: 20px;
}

/*wp pages css*/
div#wpcf7-f72-p73-o1.wpcf7{
	padding: 60px 0 70px;
}

/*talk to us page*/
body.page-id-87 .page_title h2{
	text-transform:none;
}
.talk-to-us-content{
	text-align: center;
	padding: 20px 0 30px
}
.talk-to-us-content h2{
	display: inline-block;
	border: 1px solid #A3C662;
	padding: 20px 30px;
	color: #444;
}
.talk-to-us-content h2 a{
	white-space: nowrap;
	color: #EF6921;	
}
.talk-to-us-content h2 a:hover{
	color: #00AEE5;
}

/*archive page*/
.blog_wrap.archive{
	padding-top: 40px;
}

/*ajax load more post css*/
.alm-btn-wrap{
	text-align: center;
	padding: 10px 30px 9px;
	overflow: hidden;
	display: block;
}
button.alm-load-more-btn{	
   font-family: Helvetica, Arial, sans-serif;
   font-size:16px;
   font-weight: 600;
   width:100%;   
   height: 40px;
   line-height: 38px;
   background-color: #A3C662;
   color:#fff;
   border: none;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin: 0 0 4px;
   padding:0 20px;
   display: inline-block;		
   position: relative;
   -webkit-transition: padding 0.25s ease-in-out, width 0.25s ease-in-out;
   -moz-transition: padding 0.25s ease-in-out, width 0.25s ease-in-out;
   transition: padding 0.25s ease-in-out, width 0.25s ease-in-out;
   text-align: center;	
   text-decoration: none;
   -webkit-appearance: none; 
   -moz-appearance: none;   
   appearance: none;      
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -moz-user-select: -moz-none;
   -ms-user-select: none;
   user-select: none;
   cursor: pointer;   
}
button.alm-load-more-btn:hover{
	background-color: #7B9E39;
	color: #fff;
	text-decoration: none;
}
button.alm-load-more-btn:active{
	-webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.1);
	text-decoration: none;
}	

/* Loading */
button.alm-load-more-btn.loading{
	padding-left: 44px;
}

/* Loaded / Done */
button.alm-load-more-btn.done{
	cursor: default;
	opacity: 0.2;
	filter: alpha(opacity=20);
	background-color: #A7A7A7; 
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}  
  
/* Loading Icon */
button.alm-load-more-btn:before,
button.alm-load-more-btn.done:before{                
	background: none;
	width: 0;
}

/* Loading :before */
button.alm-load-more-btn.loading:before {
  background: #fff url("img/ajax-loader.gif") no-repeat center center;
  width: 30px;
  height: 30px;
  margin: 6px;		
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:2px;
  display: inline-block;
  z-index: 0;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

/*404page*/
.pageNotFound{
	background: #f1f1f1;
	color: #DD383A;
	padding: 50px 0 80px;
	text-align:center;
}
.pageNotFound h2{
	font-size: 100px;
}
.pageNotFound h3{
	font-size: 40px;
	margin:5px 0;
}
.pageNotFound a{
	display: inline-block;
	padding:15px 40px;
	background: #252122;
	color: #eee;
	font-size:30px;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	margin:30px 0;
}
.pageNotFound a:hover{
	background: #009ACB;
	color: #fff;
}

/*wp-pagenavi*/
.wp-pagenavi{
	font-size: 18px;
	padding: 20px 0 30px;
}
.wp-pagenavi a,
.wp-pagenavi span{
	padding: 5px 12px;
	margin: 3px;
}
.wp-pagenavi a{
	background:#EF6921;
	border-color:#EF6921;
	color:#fff;
}
.wp-pagenavi a:hover{
	background:#D1530F;
	border-color:#D1530F;
	color:#fff;
}
/*author page*/

.author-page h2{
	text-align: left;
	color: #252122;
	border-bottom: none;
}
.author-page h2 > span,
.author-page h3 > span{
	color: #EF6921;
}

.author-sidebar{
	margin: 25px 0 0 0;
}
.side_category_title h2{
	margin: 0;
}
